p{
    background-color: #dddddd;
    padding: 15px;
    width: 370px;
    margin:20px 120px;
    position: relative;
    font-family: sans-serif;
    border-left: 5px solid #e91e63;
}

p::after{
    content: attr(data-person);
    position: absolute;
    right:430px;
    bottom: 5px;
    padding: 10px;
    width:50px;
    background-color: #dddddd;
}

p::before{
    content: "";
    position: absolute;
    left: -25px;
    top: 50%;
    margin-top: -10px;
    border: 10px solid;
    border-color: transparent #e91e63 transparent transparent;
}