div{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    font-size: large;
    padding:20px;
}
.assign-1-shape-1{
    background-color: rgb(138, 43, 226 );
    
}
.assign-1-shape-2{
    background-color: #892be280;
}
.assign-1-shape-3{
    background-color: hsl(271deg 76% 53% / 10%);
}