.one,
.two,
.three {
    width: 400px;
    margin-bottom: 15px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(225, 247, 241);
}

.one {
    white-space: normal;
    
}

.three {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}