:root{
    --mainpadding:20px;
    --mainmargin:40px;
    text-align: center;
    font-family: sans-serif;

}

.parent{
    width:400px;
    background-color: #f2f2f4;
    padding:var(--mainpadding);
    margin:var(--mainmargin);
    height: 200px;
    transition-duration: .5s;
    
}

.child{
   background-color: #dededc;
   padding: var(--mainpadding);
   margin-top: 10px;
   transition-delay:.5s;
   transition-duration: .5s;
}
.parent:hover{
    margin-top:20px;
}

.child:hover{
    margin-top:40px;
}


